<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Access"] - TaskManager</title>
    <link href="~/css/menu.css" rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-"
          crossorigin="anonymous">
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .content {
            flex: 1;
        }

        footer {
            background: #343a40;
            color: white;
            text-align: center;
            padding: 15px;
        }
    </style>

</head>
<body class="wrapper">



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>





    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/inputmask/dist/jquery.inputmask.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="@Url.Content("~/js/global.js")"></script>
    <script src="@Url.Content("~/js/access/access.js")"></script>
  
</body>
</html>










